<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Notices</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <style>

    </style>
</head>
<body>

<h2>Notice List</h2>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Attachment</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${notice}">
        <td th:text="${item.noticeTitle}">Sample Title</td>
        <td th:utext="${item.noticeDescription}">Sample Description</td>
      <td>  <input type="datetime-local"
               th:value="*{item.noticeStartDate}"
               id="endDate"
               class="form-control"
                   readonly></td>
       <td> <input type="datetime-local"
               th:value="*{item.noticeEndDate}"
               id="startDate"
               class="form-control"
                   readonly></td>
        <td>
            <a th:href="@{/get/attachment/download/{id}(id=${item.attachmentId})}" target="_blank">Download</a>
        </td>
        <td>
            <a th:href="@{/notice/edit/{id}(id=${item.noticeId})}" class="btn btn-edit">Edit</a>
            <form th:action="@{/notice/delete/{id}(id=${item.noticeId})}" method="post">
                <button type="submit" class="btn btn-delete"
                        onclick="return confirm('Are you sure you want to delete this notice?');">
                    Delete
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>


<!-- Messages -->
<div id="errorMsg" th:if="${error}" style="color:red; font-weight:bold; margin-bottom:15px;">
    <p th:text="${error}"></p>
</div>

<div id="successMsg" th:if="${success}" style="color:green; font-weight:bold; margin-bottom:15px;">
    <p th:text="${success}"></p>
</div>


<script th:src="@{/javascript/message.js}"></script>
</body>
</html>
