<div th:fragment="registrationFormFragment" class="container my-3" xmlns:th="http://www.w3.org/1999/xhtml"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">



    <div class="card shadow">
        <!--  Custom Header Section -->
        <div class="form-header text-center">
            <h2 class="m-0"><i class="fa-solid fa-user-plus gap"></i>Employee Registration</h2>
        </div>

        <div class="p-4">
            <form th:action="@{/register}" th:object="${registrationDto}"
                  method="post"
                  enctype="multipart/form-data" data-ajax="true"
                  data-fragment-path="/register">

                <div th:if="${errorMsg}" class="alert alert-danger">
                    <span th:text="${errorMsg}"></span>
                </div>

                <div th:if="${successMsg}" class="alert alert-success">
                    <span th:text="${successMsg}"></span>
                </div>


                <!-- (Your existing form fields remain same below this line) -->
                <!-- Basic Info -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label">First Name</label>
                        <input type="text" class="form-control" th:field="*{firstName}" required />
                        <div th:if="${#fields.hasErrors('firstName')}" class="text-danger small" th:errors="*{firstName}"></div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Last Name</label>
                        <input type="text" class="form-control" th:field="*{lastName}" required />
                        <div th:if="${#fields.hasErrors('lastName')}" class="text-danger small" th:errors="*{lastName}"></div>
                    </div>
                </div>

            <div class="row mb-3">

                <div class="col-md-6">
                    <label class="form-label">Mobile No</label>
                    <input type="number" class="form-control" th:field="*{mobileNumber}" required />
                    <div th:if="${#fields.hasErrors('mobileNumber')}" class="text-danger small" th:errors="*{mobileNumber}"></div>
                </div>
            </div>


            <!-- Username & Password -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Username</label>
                    <input type="text" class="form-control" th:field="*{username}" required />
                    <div th:if="${#fields.hasErrors('username')}" class="text-danger small" th:errors="*{username}"></div>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" th:field="*{email}" required />
                    <div th:if="${#fields.hasErrors('email')}" class="text-danger small" th:errors="*{email}"></div>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Password</label>
                    <input type="password" id="password" class="form-control" th:field="*{password}" required />
                    <div th:if="${#fields.hasErrors('password')}" class="text-danger small" th:errors="*{password}"></div>
                </div>


                <div class="col-md-6">
                    <label class="form-label">Confirm Password</label>
                    <input type="password" id="confirmPassword" class="form-control" th:field="*{confirmPassword}" required />
                    <div th:if="${#fields.hasErrors('confirmPassword')}" class="text-danger small" th:errors="*{confirmPassword}"></div>
                </div>

                <div class="form-text mt-2">
                    <ul id="passwordRules" class="mb-0">
                        <li id="uppercaseRule" style="color: red;">Must include At least one uppercase letter,</li>
                        <li id="numberRule" style="color: red;">one number,</li>
                        <li id="specialRule" style="color: red;">one special character</li>
                    </ul>
                </div>


            </div>

        

            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Profile Picture</label>
                    <input type="file" class="form-control" th:field="*{profilePic}" />
                    <div th:if="${#fields.hasErrors('profilePic')}" class="text-danger small" th:errors="*{profilePic}"></div>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Gender</label>

                    <select class="form-select" th:field="*{gender}">
                        <option value="">Select Gender</option>
                        <option th:each="g : ${T(com.example.hospitalManagementSystem.enums.Enums.Gender).values()}"
                                th:value="${g}"
                                th:text="${#strings.capitalize(g.name().toLowerCase())}">
                        </option>
                    </select>
                    <div th:if="${#fields.hasErrors('gender')}" class="text-danger small" th:errors="*{gender}"></div>

                </div>
                <div class="col-md-6">
                    <label class="form-label">Date of Birth</label>
                    <input type="date" class="form-control" th:field="*{dob}" id="dob" />
                    <div th:if="${#fields.hasErrors('dob')}" class="text-danger small" th:errors="*{dob}"></div>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Age</label>
                    <input type="text" class="form-control" th:field="*{age}" id="age" readonly />
                </div>

            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">ID Proof</label>

                    <select class="form-select" th:field="*{idProofType}">
                        <option value="">Select ID Proof</option>
                        <option th:each="type : ${T(com.example.hospitalManagementSystem.enums.Enums.IdProofType).values()}"
                                th:value="${type}"
                                th:text="${#strings.capitalize(type.name().replace('_', ' ').toLowerCase())}">
                        </option>
                    </select>
                    <div th:if="${#fields.hasErrors('idProofType')}" class="text-danger small" th:errors="*{idProofType}"></div>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Upload ID Proof</label>
                    <input type="file" class="form-control" th:field="*{idProofPic}" />
                    <div th:if="${#fields.hasErrors('idProofPic')}" class="text-danger small" th:errors="*{idProofPic}"></div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Joining Date</label>
                    <input type="date" class="form-control" th:field="*{joiningDate}" />
                </div>
                <div class="col-md-6">
                    <label class="form-label">Blood Group</label>
                    <select class="form-select" th:field="*{bloodGroup}">
                        <option th:each="b : ${T(com.example.hospitalManagementSystem.enums.Enums.BloodGroup).values()}"
                                th:value="${b}"
                                th:text="${#strings.capitalize(b.name().toLowerCase())}">
                        </option>
                    </select>
                </div>
            </div>

           <!-- Address Section -->
<div class="container mt-4 p-4 border rounded bg-light">
    <h5 class="mb-3 ">Address</h5>

    <div class="row mb-3">
        <div class="col-md-6">
            <label class="form-label">Address Line 1</label>
            <input type="text" class="form-control" th:field="*{addressDto.addressLine1}" />
            <div th:if="${#fields.hasErrors('addressDto.addressLine1')}" 
                 class="text-danger small" th:errors="*{addressDto.addressLine1}"></div>
        </div>

        <div class="col-md-6">
            <label class="form-label">Address Line 2</label>
            <input type="text" class="form-control" th:field="*{addressDto.addressLine2}" />
            <div th:if="${#fields.hasErrors('addressDto.addressLine2')}" 
                 class="text-danger small" th:errors="*{addressDto.addressLine2}"></div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-3">
            <label class="form-label">State</label>
            <select id="stateDropdown" class="form-select" th:field="*{addressDto.state}">
                <option value="">Select State</option>
            </select>
            <div th:if="${#fields.hasErrors('addressDto.state')}" 
                 class="text-danger small" th:errors="*{addressDto.state}"></div>
        </div>

        <div class="col-md-3">
            <label class="form-label">District</label>
            <select id="districtDropdown" class="form-select" th:field="*{addressDto.district}">
                <option value="">Select District</option>
            </select>
            <div th:if="${#fields.hasErrors('addressDto.district')}" 
                 class="text-danger small" th:errors="*{addressDto.district}"></div>
        </div>

        <div class="col-md-3">
            <label class="form-label">City</label>
            <input type="text" class="form-control" th:field="*{addressDto.city}" />
            <div th:if="${#fields.hasErrors('addressDto.city')}" 
                 class="text-danger small" th:errors="*{addressDto.city}"></div>
        </div>

        <div class="col-md-3">
            <label class="form-label">Country</label>
            <select class="form-select" th:field="*{addressDto.country}">
                <option value="INDIA">India</option>
            </select>
            <div th:if="${#fields.hasErrors('addressDto.country')}" 
                 class="text-danger small" th:errors="*{addressDto.country}"></div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-3">
            <label class="form-label">Pincode</label>
            <input type="number" class="form-control" th:field="*{addressDto.pincode}" />
            <div th:if="${#fields.hasErrors('addressDto.pincode')}" 
                 class="text-danger small" th:errors="*{addressDto.pincode}"></div>
        </div>
    </div>
</div>
           
            <!-- Role -->
            <div class="mb-3 col-md-6">
<!--                <label class="form-label">Role</label>-->
                <select class="form-select" th:field="*{roleId}" id="role" required>
                    <option value="">Select Role</option>
                    <option th:each="r : ${roles}" th:value="${r.RoleId}"
                            th:text="${r.roleName.replace('ROLE_','')}"
                            th:attr="data-role-name=${r.roleName.replace('ROLE_','')}">
                    </option>
                </select>
                <div th:if="${#fields.hasErrors('roleId')}" class="text-danger small" th:errors="*{roleId}"></div>
            </div>

            <!-- Doctor Fields -->
            <div id="doctorFields" class="d-none">
                <h5>Doctor Details</h5>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label">Department</label>
                        <select class="form-select" th:field="*{doctorDto.departmentId}">
                            <option value="">Select Department</option>
                            <option th:each="d : ${departments}" th:value="${d.id}" th:text="${d.department_name}"></option>
                        </select>
                        <div th:if="${#fields.hasErrors('doctorDto.departmentId')}" class="text-danger small" th:errors="*{doctorDto.departmentId}"></div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Specialization</label>
                        <select class="form-select" th:field="*{doctorDto.specialization}">
                            <option value="">Select Specialization</option>
                            <option value="General">General</option>
                            <option value="Pediatric">Pediatric</option>
                            <option value="Surgical">Surgical</option>
                        </select>
                        <div th:if="${#fields.hasErrors('doctorDto.specialization')}" class="text-danger small" th:errors="*{doctorDto.specialization}"></div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label">Experience</label>
                        <select class="form-select" th:field="*{doctorDto.experience}">
                            <option value="">Select Experience</option>
                            <option th:each="exp : ${experienceOptions}" th:value="${exp}" th:text="${exp.label}"></option>
                        </select>
                        <div th:if="${#fields.hasErrors('doctorDto.experience')}" class="text-danger small" th:errors="*{doctorDto.experience}"></div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Qualifications</label>
                        <input type="text" class="form-control" th:field="*{doctorDto.qualifications}" />
                        <div th:if="${#fields.hasErrors('doctorDto.qualifications')}" class="text-danger small" th:errors="*{doctorDto.qualifications}"></div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">License Number</label>
                    <input type="text" class="form-control" th:field="*{doctorDto.licenseNumber}" />
                    <div th:if="${#fields.hasErrors('doctorDto.licenseNumber')}" class="text-danger small" th:errors="*{doctorDto.licenseNumber}"></div>
                </div>
            </div>

            <!-- Laboratorist Fields -->
            <div id="labFields" class="d-none" >
                <h5>Laboratorist Details</h5>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label">Category</label>
                        <select class="form-select" th:field="*{laboratoristDto.laboratoryType}">
                            <option value="">Select Category</option>
                            <option value="PATHLAB">Pathlab</option>
                            <option value="RADIOLOGIST">Radiologist</option>
                        </select>
                        <div th:if="${#fields.hasErrors('laboratoristDto.laboratoryType')}" class="text-danger small" th:errors="*{laboratoristDto.laboratoryType}"></div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Experience</label>
                        <select class="form-select" th:field="*{laboratoristDto.experience}">
                            <option value="">Select Experience</option>
                            <option th:each="exp : ${experienceOptions}" th:value="${exp}" th:text="${exp.label}"></option>
                        </select>
                        <div th:if="${#fields.hasErrors('laboratoristDto.experience')}" class="text-danger small" th:errors="*{laboratoristDto.experience}"></div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Qualifications</label>
                    <input type="text" class="form-control" th:field="*{laboratoristDto.qualifications}" />
                    <div th:if="${#fields.hasErrors('laboratoristDto.qualifications')}" class="text-danger small" th:errors="*{laboratoristDto.qualifications}"></div>
                </div>
            </div>


            <!-- Accountant Fields -->
            <div id="accountantFields" class="d-none" >
                <h5>Accountant Details</h5>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label">Experience</label>
                        <select class="form-select" th:field="*{accountantDto.experience}">
                            <option value="">Select Experience</option>
                            <option th:each="exp : ${experienceOptions}" th:value="${exp}" th:text="${exp.label}"></option>
                        </select>
                        <div th:if="${#fields.hasErrors('accountantDto.experience')}" class="text-danger small" th:errors="*{accountantDto.experience}"></div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Qualifications</label>
                        <input type="text" class="form-control" th:field="*{accountantDto.qualifications}" />
                        <div th:if="${#fields.hasErrors('accountantDto.qualifications')}" class="text-danger small" th:errors="*{accountantDto.qualifications}"></div>
                    </div>
                </div>
            </div>

            <!-- Receptionist Fields -->
            <div id="receptionistFields" class="d-none" >
                <h5>Receptionist Details</h5>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label">Experience</label>
                        <select class="form-select" th:field="*{receptionistDto.experience}">
                            <option value="">Select Experience</option>
                            <option th:each="exp : ${experienceOptions}" th:value="${exp}" th:text="${exp.label}"></option>
                        </select>
                        <div th:if="${#fields.hasErrors('receptionistDto.experience')}" class="text-danger small" th:errors="*{receptionistDto.experience}"></div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Qualifications</label>
                        <input type="text" class="form-control" th:field="*{receptionistDto.qualifications}" />
                        <div th:if="${#fields.hasErrors('receptionistDto.qualifications')}" class="text-danger small" th:errors="*{receptionistDto.qualifications}"></div>
                    </div>
                </div>
            </div>

            <!-- Head Nurse Fields -->
            <div id="headNurseFields" class="d-none" >
                <h5>Head Nurse Details</h5>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label">Experience</label>
                        <select class="form-select" th:field="*{headNurseDto.experience}">
                            <option value="">Select Experience</option>
                            <option th:each="exp : ${experienceOptions}" th:value="${exp}" th:text="${exp.label}"></option>
                        </select>
                        <div th:if="${#fields.hasErrors('headNurseDto.experience')}" class="text-danger small" th:errors="*{headNurseDto.experience}"></div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Qualifications</label>
                        <input type="text" class="form-control" th:field="*{headNurseDto.qualifications}" />
                        <div th:if="${#fields.hasErrors('headNurseDto.qualifications')}" class="text-danger small" th:errors="*{headNurseDto.qualifications}"></div>
                    </div>
                </div>
            </div>

<!--            Pharmacist Field-->

            <div id="pharmacistFields" class="d-none">
                <h5>Pharmacist Details</h5>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label">Experience</label>
                        <select class="form-select" th:field="*{pharmacistDto.experience}">
                            <option value="">Select Experience</option>
                            <option th:each="exp : ${experienceOptions}" th:value="${exp}" th:text="${exp.label}"></option>
                        </select>
                        <div th:if="${#fields.hasErrors('pharmacistDto.experience')}" class="text-danger small" th:errors="*{pharmacistDto.experience}"></div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Qualifications</label>
                        <input type="text" class="form-control" th:field="*{pharmacistDto.qualifications}" />
                        <div th:if="${#fields.hasErrors('pharmacistDto.qualifications')}" class="text-danger small" th:errors="*{pharmacistDto.qualifications}"></div>
                    </div>


                </div>
            </div>

<!--            HR Field-->

            <div id="hrFields" class="d-none">
                <h5>HR Details</h5>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label">Experience</label>
                        <select class="form-select" th:field="*{humanResourceDto.experience}">
                            <option value="">Select Experience</option>
                            <option th:each="exp : ${experienceOptions}" th:value="${exp}" th:text="${exp.label}"></option>
                        </select>
                        <div th:if="${#fields.hasErrors('humanResourceDto.experience')}" class="text-danger small" th:errors="*{humanResourceDto.experience}"></div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Qualifications</label>
                        <input type="text" class="form-control" th:field="*{humanResourceDto.qualifications}" />
                        <div th:if="${#fields.hasErrors('humanResourceDto.qualifications')}" class="text-danger small" th:errors="*{humanResourceDto.qualifications}"></div>
                    </div>
                </div>
            </div>

<!--   Insurer Fields-->

            <div id="insurerFields" class="d-none">
                <h5>Insurer Details</h5>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label">Experience</label>
                        <select class="form-select" th:field="*{insurerDto.experience}">
                            <option value="">Select Experience</option>
                            <option th:each="exp : ${experienceOptions}" th:value="${exp}" th:text="${exp.label}"></option>
                        </select>
                        <div th:if="${#fields.hasErrors('insurerDto.experience')}" class="text-danger small" th:errors="*{insurerDto.experience}"></div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Qualifications</label>
                        <input type="text" class="form-control" th:field="*{insurerDto.qualifications}" />
                        <div th:if="${#fields.hasErrors('insurerDto.qualifications')}" class="text-danger small" th:errors="*{insurerDto.qualifications}"></div>
                    </div>
                </div>
            </div>


 <!-- Submit & Reset Buttons -->
                <div class="mt-4 text-center">
                 <button type="submit" class="btn custom-btn me-2">Register</button>
                    <button type="reset" class="btn btn-secondary" id="resetBtn">Reset</button>
                </div>



        </form>
    </div>
    </div>
</div>
