<div th:fragment="departmentListFragment" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<h2>Department List</h2>

<br/><br/>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Head</th>
        <th>Description</th>
        <th>Actions</th> <!-- ✅ New column for buttons -->
    </tr>
    <tr th:each="dept : ${departments}">
        <td th:text="${dept.id}"></td>
        <td th:text="${dept.department_name}"></td>
        <td th:text="${dept.department_head}"></td>
        <td th:text="${dept.description}"></td>

        <!-- ✅ Action Buttons -->
        <td>
            <!-- Update -->
            <a href="javascript:void(0);"  th:attr="data-nav='/department/update/' + ${dept.id}" sec:authorize="hasAuthority('DEPARTMENT_UPDATE')">Update</a> |

        </td>
    </tr>
</table>

</div>
